<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

    <style>
      select{
       display: block;
      }
    </style>
  </head>




  <body>
    <header class="navbar-fixed">
      <nav class="teal darken-1">
        <div class="nav-wrapper container">

          <ul class="right" id="nav-mobile">
            <li><a href="/">Home</a></li>
            <li><a href="/categories"><span>Categories</span></a></li>
            <li><a href="/books"><span>Books</span><span class="new badge">4</span></a></li>
            <li><a href="/">
              <span class="translation_missing">Sign In</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
     
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
